extends layout

block content
   script(src='/javascripts/index.js')
   .container
      .row.my-5
         .col-md-12
            h1.text-center= title
      form(method='POST')#shortener
         .row.my-5
            .col-md-11
               input#url-field.form-control(type='text', placeholder='https://url.to/shorten', name='url')
            .col-md-1
               button.btn.btn-primary(type='submit') Submit
      .row.my-5
         .col-md-12#table
      
