doctype html
html
   head
      title= title
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/lux/bootstrap.min.css')
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
      link(rel='stylesheet', href='/stylesheets/custom.css')
      
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
   body
      block content
