script(src='/javascripts/table.js')

table.table.table-striped
   thead
      tr
         th Hash
         th Target
         th
   tbody
      each item in items
         tr
            td
               a(href='/v1/'+item.hash)= item.hash
            td
               a.targeturl(href='#' data-hash=item.hash)= item.target
            td
               a(href='#' data-hash=item.hash).delbutton
                  span.fas.fa-trash-alt
